.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48rem;
  color: #1f2937;
  background-color: #f3f4f6;
}

.chatbox-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 36rem;
  background-color: #ffffff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.messages-container {
  display: flex;
  overflow: auto;
  padding: 1rem;
  flex-direction: column;
  flex-grow: 1;
  height: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.input-container {
  background-color: #d1d5db;
  display: flex;
}

.form-container {
  display: flex;
  width: 100%;
}

.user-input {
  display: flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  align-items: center;
  border-radius: 0.25rem;
  width: 100%;
  margin: 5px;
  height: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.bot-text-container {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.avatar {
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #d1d5db;
  margin: 0 3px;
}

.bot-text-bg {
  padding: 0.75rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: #d1d5db;
  max-width: 18rem;
}

.chat-text {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.user-text-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 5px;
}

.user-text-bg {
  padding: 0.75rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #ffffff;
  background-color: #2563eb;
  max-width: 18rem;
}

.loader {
  text-align: center;
}
.loader span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 20px;
  animation: loader 0.8s infinite alternate;
}
.loader span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
  animation-delay: 0.6s;
}
@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
